@font-face {
    font-family: "Gotham SSm A";
    src: url("../fonts/font1.woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Gotham SSm B";
    src: url("../fonts/font2.woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Gotham SSm A";
    src: url("../fonts/font3.woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gotham SSm B";
    src: url("../fonts/font4.woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gotham SSm A";
    src: url("../fonts/font5.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham SSm B";
    src: url("../fonts/font6.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham SSm A";
    src: url("../fonts/font7.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gotham SSm B";
    src: url("../fonts/font8.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gotham SSm A";
    src: url("../fonts/font9.woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gotham SSm B";
    src: url("../fonts/font10.woff2");
    font-weight: 800;
    font-style: normal;
}
