<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Previsualiza tus Vuelos | LTM Ecuador</title>
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <nav class="p-fixed border-box bg-deep-blue p-3">
      <div class="d-flex justify-space-between align-items-center">
        <div>
          <img width="105px" src="./assets/logos/LATAM_navbar.png" />
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <button class="btn-session">Iniciar sesión</button>
          <img class="navbar--hamburger" src="./assets/media/hamburger_a.png" />
        </div>
      </div>
      <div
        class="mt-2 d-flex bg-gray rounded-white justify-space-between align-items-center"
        onclick="window.location.href = 'index.html'"
      >
        <div class="pl-2">
          <p class="fs-5 fw-bolder tc-pink mt-2 mb-0" id="label-travel">
            {{dataVuelos.origin.city}} > {{dataVuelos.destination.city}}
          </p>
          <p class="fs-5 fw-light tc-deep-blue mt-0 mb-1" id="label-dates">
            {{getDatesVuelos(dataVuelos.dd1, dataVuelos.dd2)}}
          </p>
        </div>
        <div class="border-left-bold pr-3 d-flex align-items-center">
          <img
            class="pl-3 pr-3"
            src="./assets/icons/review_icon1.svg"
            width="16"
            height="21"
          />
          <span id="label-passengers" class="fs-2 tc-deep-blue"
            >{{dataVuelos.passengers}}
          </span>
        </div>
      </div>
    </nav>
    <main id="mainCard" class="p-3 bg-gray" style="margin-top: 140px">
      <h3 class="fw-light tc-ocean fs-1 mt-1">Resumen de tu viaje</h3>
      <span
        id="label-flight-go-resume"
        class="d-flex flex-row align-items-center fs-4 tc-ocean"
      >
        <img
          class="tc-green mr-1"
          src="./assets/icons/review_icon2.svg"
          width="22px"
        />
        <p class="m-0 fw-bolder">
          Vuelo de ida • {{getCabine(pickedF.cabine)}}
        </p>
        <p class="m-0 ml-1 fw-light">{{ getInfoVuelo(dataVuelos.dd1) }}</p>
      </span>
      <div id="flight-go">
        <div class="card-flight p-3 mb-3 mt-3">
          <div class="d-flex justify-space-between border-bottom">
            <div>
              <p class="m-0 fs-2 tc-ocean">{{pickedF.vuelo.h1}}</p>
              <p class="m-0 fs-4">{{dataVuelos.origin.code}}</p>
            </div>
            <div class="d-flex align-items-end flex-column">
              <p class="mt-0 mb-1 fs-6 tc-gray-smoke">Duración</p>
              <p class="fs-6 mt-0">{{pickedF.vuelo.avt}}</p>
            </div>
            <div class="d-flex align-items-end flex-column">
              <p class="m-0 fs-2 tc-ocean">{{pickedF.vuelo.h2}}</p>
              <p class="m-0 fs-4">{{dataVuelos.destination.code}}</p>
            </div>
          </div>
          <div class="d-flex justify-space-between mt-3">
            <div class="d-flex align-items-center">
              <a
                class="fw-bolder fs-5 tc-red"
                href=""
                ng-click="goBackFlights()"
                >Cambiar tu vuelo</a
              >
            </div>
            <div class="d-flex align-items-end flex-column">
              <p class="m-0 fs-6 tc-gray-smoke">Precio por pasajero</p>
              <p class="m-0 tc-ocean" style="font-size: 20px">
                USD {{
                getPriceFormattedPlusCabine(pickedF.vuelo.price,0,pickedF.cabine)
                }}
              </p>
            </div>
          </div>
          <p class="tc-gray-smoke fs-6 mb-0">
            Operado por LATAM Airlines Ecuador
          </p>
        </div>
      </div>
      <span
        id="label-flight-back-resume"
        class="d-flex flex-row align-items-center fs-4 tc-ocean"
      ></span>
      <br />
      <div ng-if="dataVuelos.travelType == 1">
        <span
          id="label-flight-go-resume"
          class="d-flex flex-row align-items-center fs-4 tc-ocean"
        >
          <img
            class="tc-green mr-1"
            src="./assets/icons/review_icon3.svg"
            width="22px"
          />
          <p class="m-0 fw-bolder">
            Vuelo de vuelta • {{getCabine(pickedFV.cabine)}}
          </p>
          <p class="m-0 ml-1 fw-light">{{ getInfoVuelo(dataVuelos.dd2) }}</p>
        </span>
        <div id="flight-go">
          <div class="card-flight p-3 mb-3 mt-3">
            <div class="d-flex justify-space-between border-bottom">
              <div>
                <p class="m-0 fs-2 tc-ocean">{{pickedFV.vuelo.h1}}</p>
                <p class="m-0 fs-4">{{dataVuelos.destination.code}}</p>
              </div>
              <div class="d-flex align-items-end flex-column">
                <p class="mt-0 mb-1 fs-6 tc-gray-smoke">Duración</p>
                <p class="fs-6 mt-0">{{pickedFV.vuelo.avt}}</p>
              </div>
              <div class="d-flex align-items-end flex-column">
                <p class="m-0 fs-2 tc-ocean">{{pickedFV.vuelo.h2}}</p>
                <p class="m-0 fs-4">{{dataVuelos.origin.code}}</p>
              </div>
            </div>
            <div class="d-flex justify-space-between mt-3">
              <div class="d-flex align-items-center">
                <a
                  class="fw-bolder fs-5 tc-red"
                  href=""
                  ng-click="goBackFlights()"
                  >Cambiar tu vuelo</a
                >
              </div>
              <div class="d-flex align-items-end flex-column">
                <p class="m-0 fs-6 tc-gray-smoke">Precio por pasajero</p>
                <p class="m-0 tc-ocean" style="font-size: 20px">
                  USD {{
                  getPriceFormattedPlusCabine(pickedFV.vuelo.price,0,pickedFV.cabine)
                  }}
                </p>
              </div>
            </div>
            <p class="tc-gray-smoke fs-6 mb-0">
              Operado por LATAM Airlines Ecuador
            </p>
          </div>
        </div>
        <span
          id="label-flight-back-resume"
          class="d-flex flex-row align-items-center fs-4 tc-ocean"
        ></span>
      </div>
      <a href="" class="tc-blue fw-bolder fs-5 mb-4 mt-4 d-flex"
        >Esta promoción no incluye asiento, después podrá adicionarlo si desea
        con su número de orden</a
      >
      <button ng-click="goToForms()" class="btn-success mt-1 mb-5">
        Continuar a información
      </button>
      <p class="fs-5 fw-bolder">Servicios a bordo:</p>
      <div class="fs-6 tc-gray-smoke">
        <div class="services-group">
          <div class="d-flex align-items-center justify-content-start">
            <img
              xmlns="http://www.w3.org/2000/svg"
              width="15px"
              height="15px"
              class="rounded-icon tc-deep-blue"
              src="./assets/icons/review_icon4.svg"
            />
            <span class="ml-1">Tomacor riente*</span>
          </div>
          <div class="d-flex align-items-center justify-content-start">
            <img
              xmlns="http://www.w3.org/2000/svg"
              width="15px"
              height="15px"
              class="tc-deep-blue"
              src="./assets/icons/review_icon5.svg"
            />
            <span class="ml-1"
              >Entretenimiento a bordo (en pantalla frente al asiento)**</span
            >
          </div>
        </div>
        <div class="services-group mt-2">
          <div class="d-flex align-items-center justify-content-start">
            <img
              xmlns="http://www.w3.org/2000/svg"
              width="15px"
              height="15px"
              class="rounded-icon tc-deep-blue"
              src="./assets/icons/review_icon6.svg"
            />
            <span class="ml-1">Cargador USB**</span>
          </div>
          <div class="d-flex align-items-center justify-content-start">
            <img
              xmlns="http://www.w3.org/2000/svg"
              width="15px"
              height="15px"
              class="rounded-icon tc-deep-blue"
              src="./assets/icons/review_icon7.svg"
            />
            <span class="ml-1">Servicio de alimentación***</span>
          </div>
        </div>
        <div class="services-group mt-2">
          <div class="d-flex align-items-center justify-content-start">
            <img
              xmlns="http://www.w3.org/2000/svg"
              width="19px"
              height="15px"
              class="rounded-icon tc-deep-blue"
              src="./assets/icons/review_icon8.svg"
            />
            <span class="ml-1">Tomacorriente con cargador USB*</span>
          </div>
          <div class="d-flex align-items-center justify-content-start">
            <img
              xmlns="http://www.w3.org/2000/svg"
              width="19px"
              height="15px"
              class="rounded-icon tc-deep-blue"
              src="./assets/icons/review_icon9.svg"
            />
            <span class="ml-1">Bebidas alcohólicas y no alcohólicas***</span>
          </div>
        </div>
        <div class="services-group mt-2">
          <div class="d-flex align-items-center justify-content-start">
            <img
              xmlns="http://www.w3.org/2000/svg"
              width="15px"
              height="15px"
              class="rounded-icon tc-deep-blue"
              src="./assets/icons/review_icon10.svg"
            />
            <span class="ml-1"
              >Entretenimiento a bordo (descargando la App LATAM Play)**</span
            >
          </div>
          <div class="d-flex align-items-center justify-content-start">
            <img
              xmlns="http://www.w3.org/2000/svg"
              width="15px"
              height="15px"
              class="rounded-icon tc-deep-blue"
              src="./assets/icons/review_icon11.svg"
            />
            <span class="ml-1">Wifi**</span>
          </div>
        </div>
      </div>
      <p class="fs-6 tc-gray-smoke">
        (*) Dependiendo de la cabina y tipo de avión (**) Dependiendo del tipo
        de avión (***) Con cargo extra dependiendo de la ruta y sujeto a
        restricciones gubernamentales locales
      </p>
      <p class="fs-5 fw-bolder">Información general de vuelos:</p>
      <div class="lh-1">
        <li class="fs-5 tc-gray-smoke">
          Asegúrate que cumples los requisitos para viajar a este destino.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Aunque tu pasaje no permita devolución tienes derecho a solicitar un
          reembolso de las tasas de embarque. Ten en cuenta que en algunos
          países cobran un cargo por servicio en la compra y que este monto no
          es reembolsable.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Las imágenes de cabina Premium Business son de referencia.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Para viajes con ida y vuelta: el vuelo de ida que elijas determinará
          los precios de los vuelos de regreso.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Si eliges una tarifa que permite un porcentaje o la totalidad de
          devolución, ten en cuenta que sólo podrás solicitar el reembolso antes
          del horario de salida del primer vuelo de tu itinerario.
        </li>
        <li class="fs-5 tc-gray-smoke">
          El modelo del avión puede variar por motivos operacionales.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Los cupos y precios están sujetos a confirmación en los pasos
          siguientes.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Tratándose de compras que comprendan vuelo de ida y vuelta, los vuelos
          o tramos que componen el itinerario deberán volarse en el orden
          consecutivo indicado. Si no se vuela algún tramo del itinerario, éste
          se cancelará, sin aviso previo, en su totalidad y sin reembolso, salvo
          que las condiciones de la tarifa así lo permitan.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Recuerda que para postular a Upgrade de cabina con tramos tienes que
          haber comprado tu ticket con tarifa Light, Plus, Top, Standard,
          Classic o Full. Ten en cuenta que si tu tarifa es Light solo podrás
          postular al Upgrade de cabina con tramos para vuelos nacionales,
          dentro de Sudamérica y el Caribe, excepto vuelos regionales desde
          Brasil. Los niños o infantes que viajan con tarifas con descuento, no
          podrán optar al beneficio de Upgrade LATAM Pass. Para conocer las
          condiciones de tu pasaje revisa el detalle de la tarifa que compraste.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Si eliges un vuelo operado por otra aerolínea, podrás seleccionar
          asientos directamente en esa compañía.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Para vuelos desde y hacia Estados Unidos, revisa los cargos por
          equipaje y servicios opcionales.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Si tu destino final es Nueva Zelanda o haces tránsito en este país,
          debes contar con la nueva
        </li>
        <li class="fs-5 tc-gray-smoke">
          Ten en cuenta que los vuelos con origen o destino en Río de Janeiro,
          pueden operar en los aeropuertos de Galeao (GIG) o Santos Dumont
          (SDU).
        </li>
        <li class="fs-5 tc-gray-smoke">
          Los vuelos desde y hacia Buenos Aires pueden operar en los aeropuertos
          de Ezeiza (EZE) o Aeroparque (AEP). Ten en cuenta los tiempos de
          traslado en caso de conexiones al interior de Argentina.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Si eres ciudadano de Canadá o Australia y viajas a Argentina, recuerda
          que debes pagar en línea el impuesto de reciprocidad antes de tu
          llegada. Presenta el comprobante de pago directamente en control
          migratorio.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Recuerda que si viajas a Cuba debes obtener una visa de turismo
          (tarjeta turística) en la Embajada de Cuba o consulado de tu país.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Al finalizar tu estadía en Punta Cana, las autoridades locales
          requieren que pagues un impuesto de salida de US$ 10. Las tasas y/o
          impuestos están sujetos a cambio sin previo aviso.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Le informamos que para aquellos extranjeros que deseen permanecer en
          Francia por menos de 90 días existen ciertos documentos y/o requisitos
          obligatorios. Por favor infórmese en la embajada francesa de su país.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Si eres menor de 18 años, te sugerimos contactar al Consulado o a
          autoridad diplomática de Sudáfrica en tu país para informarte sobre la
          documentación adicional que deberás presentar al llegar a tu destino.
          Ten en cuenta que si viajas a Sudáfrica desde un país donde existe
          riesgo de fiebre amarilla, deberás contar con un certificado de
          vacunación contra esta enfermedad. Esta exigencia también aplica si
          estuviste en tránsito por más de 12 horas en un aeropuerto de un país
          con peligro de transmisión. Los niños menores de 1 año no están
          sujetos a esta medida. Es importante que sepas que debes recibir la
          vacuna al menos 10 días antes de tu viaje.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Flexibilidad y cancelaciones: Si el vuelo es cancelado o reprogramado
          debido a, o con ocasión de la pandemia COVID-19, o por otras razones
          de seguridad o de fuerza mayor, podrás reprogramar tu viaje, solicitar
          el reembolso del valor del pasaje o contratar otros servicios de
          LATAM. Revisa tus derechos, y las alternativas asociadas a la pandemia
          COVID-19.
        </li>
      </div>
      <p class="fs-5 fw-bolder">Información general de vuelos:</p>
      <div class="lh-1 mb-5">
        <li class="fs-5 tc-gray-smoke">
          Para los pasajeros extranjeros no residentes en Ecuador, aplica
          exclusivamente la tarifa Full. Cualquier otra tarifa está sujeta a un
          cargo adicional en aeropuerto de USD $150 + IVA.
        </li>
        <li class="fs-5 tc-gray-smoke">
          Por disposición del Gobierno Nacional, todos los pasajeros no
          residentes en Galápagos deben presentar su pasaje de regreso al
          ingresar a las islas.
        </li>
      </div>
    </main>
    <!-- MODAL FLIGHT RESUME -->
    <div
      class="modal-flight-resume d-flex"
      ng-show="dataVuelos.travelType != 1"
    >
      <div class="d-flex align-items-center justify-space-between mt-2 mb-1">
        <p class="m-0 fw-bold tc-blue">Precio final</p>
        <p class="m-0 fw-bold tc-gray-smoke" id="modal-flight-cost">
          USD {{ calcTotal() }}
        </p>
      </div>
      <div class="d-flex align-items-center justify-space-between">
        <p class="m-0 fw-bold tc-blue" id="modal-travel">
          {{ dataVuelos.origin.code }} → {{ dataVuelos.destination.code }}
        </p>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <p class="m-0 fw-bold tc-blue fs-3 mr-1" id="modal-passengers">
            {{ dataVuelos.passengers }}
          </p>
          <img
            class="tc-blue mr-1"
            src="./assets/icons/review_icon12.svg"
            width="22px"
            height="32px"
          />
        </div>
      </div>
      <div class="d-flex align-items-center justify-space-between mb-4">
        <p class="m-0 fw-light tc-gray-smoke fs-6">
          Tramo operado por LATAM Airlines
        </p>
      </div>
    </div>
    <!-- LOADER FULL -->
    <div class="loader-full" ng-show="loader">
      <span class="loader"></span>
      <p class="text-italic tc-ocean fs-3 fw-light">Cargando...</p>
    </div>
  </body>
</html>
